name: Docker Release

on:
  workflow_call:

jobs:
  job_docker_release:
    name: Publish images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up vars used in next step
        id: vars
        shell: bash
        run: |
          echo "IMAGE_TAG_CLEAN=${GITHUB_REF_NAME//\//-}" >> "$GITHUB_OUTPUT"
      - name: Build and push image to ghcr.io
        uses: docker/build-push-action@v5
        with:
          context: .
          # platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/vocdoni/onchain-census-indexer:${{ steps.vars.outputs.IMAGE_TAG_CLEAN }}
            ghcr.io/vocdoni/onchain-census-indexer:latest
